body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #d12be7, #1619da);
}

.open-sign {
 
 padding-left: 10px;
}

input {
  border-radius: 20px;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: rgb(203, 163, 240);
  width: 70%;
  margin: auto;
}
#logo {
  display: flex;
}

#logo img {
  width: 25%;
  margin: auto;
}

.branco {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

.btn {
  background-color: #9b76e0ff;
  color: #fff;
  border: none;
}

.btn:hover {
  background-color: rgb(92, 5, 87);
  color: #fff;
}

#link-cadastro {
  text-decoration: none;
  color: rgb(122, 11, 117);
}

#link-cadastro:hover {
  color: #300336;
  font-weight: 400;
}

@media (max-width: 768px) {
  #logo img {
    width: 50%;
  }
}
