#btn-nova-lista,
#btn-nova-tarefa,
.btn-add,
.btn-cancel {
  background-color: rgb(214, 108, 200);
  border: none;
  color: white;
}

#btn-nova-lista:hover,
#btn-nova-tarefa:hover,
.btn-add:hover,
.btn-cancel:hover {
  background-color: rgb(179, 97, 158);
  color: white;
}
.card:hover {
  background-color: rgb(218, 197, 238);
  transform: scale(1.02);
  transition: transform 0.2s;
}

.tab-button {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.tab-button:hover {
  background-color: #d0d0d0;
}

.tab-button.activee {
  background-color: #9b76e0ff; /* roxo */
  color: white;
}

.lista-wrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* espaçamento entre botão e delete */
  margin-bottom: 8px;
}

/* Card padrão de tarefa */
.card-tarefa {
  background-color: #b7caddff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  cursor: pointer;
}

/* Badges de status */
.badge-status {
  color: white;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
}

.status-iniciada {
  background-color: #3d9aec;
}
.status-cancelada {
  background-color: #e47681ff;
}
.status-concluída {
  background-color: #5dd89fff;
}

/* Badges de prioridade */
.badge-prioridade {
  color: white;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 0.85rem;
}

.prioridade-baixa {
  background-color: #50ad50;
}
.prioridade-média {
  background-color: #cece4c;
}
.prioridade-alta {
  background-color: #c57021;
}
.prioridade-urgente {
  background-color: #a33333;
}

